<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/7cd5bd2715.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/editproduct.css" />
  <title> CollegeStore| <%= username %> | Edit Product</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top bg-light">
    <p class="navbar-brand">CollegeStore</p>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/homepage">Home </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><%= username %> <i class="fas fa-user-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile/<%= username %>">Profile</a>
            <a class="dropdown-item" href="/request/0">My Deals</a>
            <a class="dropdown-item" href="/history/0">My History</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log Out</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link cart" href="/cart"><i class="fas fa-shopping-cart"></i> Cart</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1>Edit Product</h1>
    <hr />
    <form method="POST" action="/editproduct/<%= details[0][6] %>&<%= details[0][0] %>" enctype="multipart/form-data">
      <div class="row">
        <!-- left column -->
        <div class="col-md-3">
          <!-- <form action="/imageUpload" method="POST" enctype="multipart/form-data"> -->
          <div class="text-center">
            <img src="<%= typeof details[0][4] != 'undefined' ? details[0][4] : '../images/sellicon.svg' %>"
              class="avatar img-circle" alt="avatar" />
            <h6>Upload a different photo...</h6>

            <input type="file" id="upImg" name="upImg" class="form-control" />
            <!-- <input class="btn btn-primary" type="submit" value="Add image"></input> -->
          </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
          <% if(msg != ""){ %>
          <div id="erralert" class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= typeof msg != 'undefined' ? msg : "" %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% } %>
          <h3>Product info</h3>

          <!-- <form class="form-horizontal" role="form" method="POST"> -->
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-lg-3 control-label">Product Name:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" placeholder="name" id="name" name="name"
                  value="<%= details[0][1] %>" required />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Years of Usage:</label>
              <div class="col-lg-8">
                <input class="form-control" type="number" placeholder="usage" id="years" value="<%= details[0][2] %>"
                  name="years" required />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Condition:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" placeholder="condition" name="condition"
                  value="<%= details[0][5] %>" required />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Price:</label>
              <div class="col-lg-8">
                <input class="form-control" type="number" placeholder="price" id="price" value="<%= details[0][3] %>"
                  name="price" required />
              </div>
            </div>
            <div class="form-group">
              <label for="category" class="col-lg-3 control-label">Choose Category</label>
              <div class="col-lg-8">
                <select class="form-control" name="categoryOptions" id="categoryOptions">
                  <option value="<%= details[0][6] %>"><%= category %></option>
                </select>
              </div>
            </div>

            <div class="form-horizontal form-books category" role="form"></div>

            <div class="category" id="books" style="display:block">
              <div class="form-group">
                <label class="col-lg-3 control-label">Author Name:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="Author name" id="author_name" name="author"
                    value="<%= details[0][13] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Publication:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="publication" id="publication" name="publication"
                    value="<%= details[0][14] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Edition:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="edition" id="edition" name="edition"
                    value="<%= details[0][15] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Subject:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="subject" id="subject" name="subject"
                    value="<%= details[0][16] %>" />
                </div>
              </div>
            </div>

            <div class="category" id="notes" style="display:none">
              <div class="form-group">
                <label class="col-lg-3 control-label">Professor:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="Professor" id="professor" name="professor"
                    value="<%= details[0][14] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Subject:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="subject" id="n_subject" name="n_subject"
                    value="<%= details[0][16] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Topic:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="topic" id="topic" name="topic"
                    value="<%= details[0][13] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Year:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="number" placeholder="year" id="year" name="year"
                    value="<%= details[0][15] %>" />
                </div>
              </div>
            </div>

            <div class="category" id="clothing" style="display:none">
              <div class="form-group">
                <label class="col-lg-3 control-label">Type:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="type" id="type" name="type"
                    value="<%= details[0][14] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Size:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="size" id="size" name="size"
                    value="<%= details[0][13] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Color:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="color" id="color" name="color"
                    value="<%= details[0][15] %>" />
                </div>
              </div>
            </div>

            <div class="category" id="other" style="display:none">
              <div class="form-group">
                <label class="col-lg-3 control-label">Category:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="category" id="cate" name="cate"
                    value="<%= details[0][13] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Description:</label>
                <div class="col-lg-8">
                  <textarea rows="3" class="form-control" type="text" placeholder="description" id="description"
                    name="description"><%= details[0][14] %></textarea>
                </div>
              </div>
            </div>



            <div class="category" id="calculators" style="display:none">
              <div class="form-group">
                <label class="col-lg-3 control-label">Model:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="model" id="model" name="model"
                    value="<%= details[0][14] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Brand:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="brand" id="calcibrand" name="calcibrand"
                    value="<%= details[0][13] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Features:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="features" id="features" name="features"
                    value="<%= details[0][15] %>" />
                </div>
              </div>
            </div>

            <div class="category" style="display:none" id="pcs">
              <div class="form-group">
                <label class="col-lg-3 control-label">OS:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="os" id="os" name="os"
                    value="<%= details[0][13] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Storage:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="storage" id="storage" name="storage"
                    value="<%= details[0][15] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Processor:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="processor" id="processor" name="processor"
                    value="<%= details[0][17] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">RAM:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="RAM" id="ram" name="ram"
                    value="<%= details[0][14] %>" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Brand:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="brand" id="pcbrand" name="pcbrand"
                    value="<%= details[0][16] %>" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Confirm" />
              <a href="/request/0" class="btn btn-outline-primary">Cancel</a>
              <a href="/deleteproduct/<%= details[0][0] %>" class="btn btn-danger delete-confirm">Delete Product</a>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
  </div>
  </form>
  </div>
  <hr />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <script>
    if ($("#categoryOptions option").text() === "Books") {
      $(".category").hide();
      $("#books").show();
    }
    if ($("#categoryOptions option").text() === "Clothing") {
      $(".category").hide();
      $("#clothing").show();
    }
    if ($("#categoryOptions option").text() === "Notes") {
      $(".category").hide();
      $("#notes").show();
    }
    if ($("#categoryOptions option").text() === "Calculators") {
      $(".category").hide();
      $("#calculators").show();
    }
    if ($("#categoryOptions option").text() === "Pcs") {
      $(".category").hide();
      $("#pcs").show();
    } if ($("#categoryOptions option").text() === "Other") {
      $(".category").hide();
      $("#other").show();
    }
    $('.delete-confirm').on('click', function (event) {
      event.preventDefault();
      const url = $(this).attr('href');
      swal({
        title: 'Are you sure?',
        text: 'This product and it`s details will be permanantly deleted!',
        icon: 'warning',
        buttons: ["Cancel", "Yes!"],
      }).then(function (value) {
        if (value) {
          window.location.href = url;
        }
      });
    });
  </script>
</body>
</html>