<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <p
      style="
        background-color: #0062e6;
        border-radius: 20px;
        font-size: 230%;
        padding: 5px;
        color: white;
        margin-top: auto;
        margin-bottom: auto;
      "
    >
      CollegeStore
    </p>
    <h2 style="text-align: center;display: inline-block;">Receipt</h2>
    <div style="width: 80%; margin-top: 15%; border: 2px solid lightgrey;text-align: justify;">
        <ul>
            <h4>Seller Details</h4>
            <% var i = 0, j = 1; %>
            <% if (sellerBuyer[i].username != seller_id) { %>
                <% i = 1; j = 0; } %>
            <li>Name:              <%= sellerBuyer[i].name %></li>
            <li>Email:             <%= sellerBuyer[i].email_id %></li>
            <li>Contact:           <%= sellerBuyer[i].contact %></li>
            <br>
            <h4>Product Details</h4>
            <li>Name:              <%= product[0].product_name %></li>
            <li>Years of Usage:    <%= product[0].years_of_usage %></li>

            <li>Price:             Rs. <%= product[0].price %></li>

            <li>Condition:         <%= product[0].condition %></li>
            <br>
            <h4>Buyer Details</h4>
            <li>Name:              <%= sellerBuyer[j].name %></li>
            <li>Email:             <%= sellerBuyer[j].email_id %></li>
            <li>Contact:           <%= sellerBuyer[j].contact %></li>
            <br>
            <br>
            <li>Finalized Price:   Rs. <%= finalizedPrice %></li>
            </ul>
            <p>
                Date: <%= date %>
            </p>
    </div>
</body>
</html>