<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7cd5bd2715.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/soldverify.css">
    <title> CollegeStore| Sell Verification </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top bg-light">
      <p class="navbar-brand">CollegeStore</p>
      <button
        class="navbar-toggler custom-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/homepage">Home </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <%= username %> <i class="fas fa-user-circle"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile/<%= username %>">Profile</a>
              <a class="dropdown-item" href="/request/0">My Deals</a>
              <a class="dropdown-item" href="/history/0">My History</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sellproduct">Sell </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cart" href="/cart"
              ><i class="fas fa-shopping-cart"></i> Cart</a
            >
          </li>
        </ul>
      </div>
    </nav>
      <!-- </section> -->
      <section id="main">
      <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sell Verification</h5>
            <% if(msg != ""){ %>
              <div id="erralert" class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= typeof msg != 'undefined' ? msg : "" %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <% } %>
            <form class="form-signin" method="POST">
              <div class="form-group">
                <label for="buyerOptions">Select Buyer</label>
              <div class="form-group">
               <select
                  class="form-control"
                  name="buyerOptions"
                  id="buyerOptions"
                >
                <% for (var i=0; i<buyers.length; i++ ) { %>
                  <option value="<%= buyers[i].buyer_id %>"><%= buyers[i].buyer_id %></option>
                  <% } %>
                </select>
                
              </div>
              <div class="form-label-group">
                <input class="form-control" name="finalPrice" id="finalPrice" type="number" placeholder="Finalized Price" required>
                <label for="finalPrice">Finalized Price</label>
              </div>
              <div class="form-label-group">
                <input class="form-control" name="otp" id="otp" type="number" placeholder="Pass given to buyer" required>
                <label for="otp">Pass Given to buyer</label>
              </div>
              <div style="text-align: center;">
            <button
                  class="btn btn-lg btn-primary text-uppercase"
                  type="submit"
                  name="submit"
                >
                  Verify
            </button>
          </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
  </html>
